:root{
    --cor-vanilla: #eecba4;
    --cor-cream: #ffedba;
    --cor-almond: #b7957f;
    --cor-mocca: #84593d;
    --cor-expresso: #4C2B08;
    --cor-marrom-clara: #9b7d61;
    --cor-marrom-escura: #694112;
    --cor-neutra-escura: #231916;
}