:root{
    --cor-cinza-clara: #CCC5BE;
    --cor-neutra-escura: #231916;
    --cor-neutra-clara: #9E9086;
    --cor-primaria: #7f4624;
    --cor-primaria-clara: #ffffff;
    --cor-marrom-escura: #706154;
}