

img {
    width: 200px;
    height: 200px;
    border-radius: 6rem;
}

.cabecalho{
    background-color: var(--cor-primaria);
}

.cabecalho nav{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 1rem;
}

.cabecalho nav h1{
    color: var(--cor-primaria-clara);
    font-size: 3rem;
    font-weight: bold;
}

.cabecalho nav ul{
    display: flex;
    gap: 2rem;
}

.cabecalho nav a{
    color: var(--cor-primaria-clara);
    font-size: 1.5rem;
    font-weight: bold;
}

.cabecalho nav a:hover{
    color: var(--cor-marrom-escura);
}

.cabecalho nav img{
    width: 5rem;
    height: 5rem;
    border-radius: 3rem;
}

.container {
    background-color: var(--cor-neutra-clara);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2rem;
    padding: 5rem;
    margin-bottom: 2rem;
    justify-content: space-between
}

.container h1{
    color: var(--cor-neutra-escura);
    font-size: 2.5rem;
    font-weight: bold;
    text-align: center;
    width: 100%;
}

.container-items{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    width: 100%;
}

.container .item{
    background-color: var(--cor-marrom-escura);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    border-radius: 1rem;
}

.container .item h1{
    color: var(--cor-primaria-clara);
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 1rem;
}

.container .item p{
    color: var(--cor-primaria-clara);
    font-size: 1rem;
    text-align: center;
    margin-top: 0.5rem;
}

footer{
    background-color: var(--cor-primaria);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

footer p{
    color: var(--cor-primaria-clara);
    font-size: 1rem;
}       
    /* .hamburguer {
        display: none;
        flex-direction: column;
        justify-content: space-between;
        width: 2rem;
        height: 1.5rem;
        background: none;
        border: none;
        cursor: pointer;
    }
    .hamburguer span {
        display: block;
        width: 100%;
        height: 0.25rem;
        background-color: var(--cor-primaria-clara);
        border-radius: 0.125rem;
    } */
@media (max-width: 768px) {
    .cabecalho nav ul {
        display: none;
        flex-direction: column;
        gap: 1rem;
        margin-top: 1rem;
    }

    .cabecalho nav ul.active {
        display: flex;
    }

    .hamburguer {
        display: flex;
    }
}
@media (max-width: 600px) {
    .container {
        padding: 2rem;
    }

    .container-items {
        flex-direction: column;
    }
}
@media (max-width: 400px) {
    .container h1 {
        font-size: 2rem;
    }

    .container .item h1 {
        font-size: 1.25rem;
    }

    .container .item p {
        font-size: 0.875rem;
    }
}
